* {
    box-sizing: border-box;
  }

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
}
body h1 {
    font-size: 20px;
    font-weight: bold;
}

body > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body > div:first-child {       
    height: 70px;
    width: 100%;

    position: fixed;
    z-index: 5;

    font-size: 37px;
    font-weight: bold;
    color: #FFFFFF;

    box-shadow: 0 0 5px 5px rgba(61, 61, 61, 0.5);

    background-color: #EC362D;
}

.tela {
    padding-top: 70px;
    padding-bottom: 100px;
}

.quizzes-do-usuario {
    margin-top: 50px;
    width: 100%;

    display: flex;
    justify-content: center;
}

.container-quizzes {
    display: flex;
    flex-direction: column;

    width: 90%;
}

.header-usuario {
    display: flex;
    flex-direction: row;
}

.container-quizzes ion-icon {
    position: relative;
    bottom: 5px;
    
    color: #EC362D;
    font-size: 30px;
}

.container-quizzes ion-icon:hover {
    cursor: pointer;
}

.no-quizzes {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 90%;
    height: 181px;

    border: 2px dashed #D4D4D4;
    border-radius: 10px;
}

.no-quizzes > p {
    text-align: center;
    
    width: 250px;
    margin-top: 40px;
    margin-bottom: 30px;
    
    font-size: 20px;
    color: #B9B9B9;
}

.no-quizzes > button {
    width: 136px;
    height: 40px;

    border: 2px dashed #EC362D;
    border-radius: 5em / 5em;

    font-size: 21px;
    color: #EC362D;

    background-color: #FFFFFF;
}

.no-quizzes > button:hover {
    cursor: pointer;
}

.quizzes {
    display: flex;
    flex-wrap: wrap;
}

.quizz {
    position: relative;
    width: 340px;

    margin-top: 12px;
    margin-right: 10px;
}

.quizz::after {
    content: "";
    position: absolute;

    left: 0;
    top: 0;

    border-radius: 10px;

    width: 100%;
    height: 99%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.575), rgba(0, 0, 0, 0));

}

.quizz img {
    width: 340px;
    height: 181px;

    border-radius: 10px;

    background-image: linear-gradient(0deg, red, rgba(255,0,0,1));
}

.quizz > div {
    display: flex;
    align-items: center;
    
    position: absolute;

    bottom: 15px;
    left: 15px;
    z-index: 1;

    height: 50px;
    width: 250px;
}

.quizz h2 {
    word-break: break-all;

    font-size: 19px;
    color: #FFFFFF;
}

.sucesso {
    margin-top: 50px;
    margin-bottom: 50px;
}


.sucesso h2 {
    font-size: 23px;
}

.banner{
    width: 100%;
    position: relative;
}
.bannerFundo img{
    filter: opacity(0.4);
    height: 227px;
    width: 100%;
    object-fit: cover;
}

.banner h1{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 30px;
    font-weight: 400;
    margin-top: -15px;
    margin-left: -200px;
}
.bannerFundo{
    background-color: black;

}


.todasOpcoes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 
}
.containerPerguntas{
    width: 759px;
    height: 676px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    background-color: white;
    margin: 20px auto;
}

.containerPerguntas h1{ 
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #434CA0;
    color: white;
}
.containerOpcoes{
    margin-top: 20px;
    width: 330px;
    height: 175px;
    margin-bottom: 40px;
}
.containerOpcoes h2{
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
    word-break: break-all;
 
}
.containerOpcoes img{
    width: 330px;
    height: 175.5px;
}
.tela.backgroundcinza{
    background-color: #fafafa;
}

.naoSelecionado{
    filter: opacity(0.2);
}

.respostaCerta > h2{
    color: green;
}

.respostaErrada > h2{
    color: red;
}

.quest-basico {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    box-sizing: initial;

    width: 600px;

    box-shadow: 0 0 5px 1px rgb(236, 232, 232);

    background-color: #FFFFFF;
}

.quest-basico > div {
    padding-left: 20px;
    padding-top: 20px;
}

.quest-basico input {
    width: 564px;
    height: 46px;

    padding-left: 7px;
    padding-right: 7px;
    margin-bottom: 15px;

    outline: none;

    border: 1px solid #D1D1D1;
    border-radius: 5px;

    font-size: 19px;
}
.quest-basico.niveis{
    margin-top: 15px;
}

.quest-basico input::placeholder {
    font-style: italic;
    color: #BABABA;
}

.collapsible {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.collapsible > ion-icon {
    font-size: 25px;
    position: relative;
    right: 15px;
    bottom: 4px;
}

.conteudoPerguntas {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.conteudoPerguntas h1 {
    margin-bottom: 10px;
}

.botao-para-perguntas {
    width: 367px;
    height: 54px;

    border: none;
    border-radius: 15px;

    font-size: 21px;

    background-color: #EC362D;
    color: #FFF5F4;
}

.botao-para-perguntas:hover {
    cursor: pointer;
}

.botao-sucesso {
    width: 221px;
    height: 44px;

    border: none;
    border-radius: 15px;

    margin-bottom: 10px;

    font-size: 21px;

    background-color: #EC362D;
    color: #FFF5F4;
}

.home {
    background-color: #fafafa;
    color: #818181;
}

.none{
    display: none;
}

.conteudoNiveis{
display: flex;
width: 100%;
margin-top: 15px;


}
.conteudoNiveis h2{
    font-size: 19px;
    font-weight: 700;
    margin-left: 15px;
    line-height: 25px;
 
}
.imgNiveis img{
    width: 364px;
    height: 273px;
    object-fit: cover;
}

.containerNiveis{
    width: 759px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    background-color: white;
    margin: 20px auto;
}

.containerNiveis h1{ 
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #EC362D;
    padding-left: 20px;
    line-height: 25px;
}
.menuFinal button{
    background-color: #EC362D;
    color: #FFF5F4;
    font-size: 21px;
    border-radius: 15px;
    border: none;
    padding: 10px 50px;
    margin-top: 50px;
}
.menuFinal div{
    font-size: 21px;
    color: #818181;
    margin-top: 20px;
    font-weight: 300;

}

.menuFinal >:hover{
    cursor: pointer;
}

.menuFinal{
    display: flex;
    flex-direction: column;
    align-items: center;

}

@media (max-width: 1100px) {
    .header-usuario {
        justify-content: space-between;
    }
    
    .container-quizzes {
        width: 90%;
    }

    .no-quizzes {
        width: 90%;
    }

    .quizz {
        width: 100%;
        

    }

    .quizz img {
        width: 100%;
        object-fit:cover;
    }

    .quizz::after {
        width: 100%;
    }

    body > div:first-child{
        width: 100%;
    }

    .sucesso img {
        width: 340px;
        height: 181px;
    }
    
    .banner h1{
        position: absolute;
        top: 50%;
        left: 50%;
        color: white;
        font-size: 25px;
        font-weight: 400;
        margin-left: -150px;
    }

    .quest-basico {
        width: 375px;
    }

    .quest-basico  input {
        width: 341px;
        height: 46px;
    }

    .botao-para-perguntas {
        width: 325px;
    }

    .botao-criar {
        right: 0;
        left: 185px;
    }
    .containerPerguntas{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }
    .containerPerguntas img{
        width: 100%;
        height: 100%;
    }
    .containerPerguntas h1{
        width: 100%;
    }
    .todasOpcoes{
        display: flex;
        justify-content: space-evenly;
    }

  

   
}